<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="../public/style.css" rel="stylesheet">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>Example Usage:</h2>
      <ul>
        <li><a href="api/2024-08-08">[project url]/api/2024-08-08</a></li>
        <li><a href="api/1723075200000">[project url]/api/1723075200000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1723372800000, "utc":"Thu, 8 Aug 2024 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/Wenying0808/">Wenying</a>
      </p>
    </div>
  </body>
</html>
